p {margin:0; padding: 0;}
span.quoteStyle{  display: block;  background-color: #ffffff;  border: 1px solid #c9d2d8;  margin: 3px 3px 3px 20px;  color: #660002;}
span.codeStyle{  display: block;  background-color: #ffffff;  border: 1px solid #c9d2d8;  margin: 3px 3px 3px 20px;  font-family: Monaco,"Andale Mono","Courier New",Courier,mono;  color: #006600;}
