#navigation {
	position: fixed;
	top: 0;
	width: 100%;
	color: #ffffff;
	height: 30px;
	text-align: center;
	padding-top: 10px;
	/* Adds shadow to the bottom of the bar */
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
	/* Adds the transparent background */
	background-color: rgba(1, 1, 1, 0.8);
	color: rgba(1, 1, 1, 0.8);
}

#navigation a {
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	text-decoration: none;
}

#navigation a:hover {
	color: grey;
}
#content {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    min-width: 500px;
}
body {
	font-family:sans-serif;
	margin:auto;
	background-color:#F5F5DC;
	padding: 0;
	margin: 0;
}
		
.error {
	color:#FF0000;
	}
	
label {
	display:block;
	font-size:20px;
	}
	
input[type=text] {
	width:400px;
	font-size:20px;
	padding:2px;
	}
	
textarea {
	width: 600px;
	height: 100px;
	font-size: 13px;
	font-family: monospace;
	}
	
input[type=submit] {
	font-size: 24px;
	}
	
hr {
	margin: 20px auto;
	}
	
.entry + .entry  {
	max-width: 800px;
	margin-top: 20px;
	}
	
.entry-title {
	max-width: 800px;
	font-weight:bold;
	font-size:20px;
	}

.entry-date {
	max-width: 800px;
	font-size:10px;
	}
	
.entry-body {
	max-width: 800px;
	margin:0;
	font-size:16px;
	}

#banner {
	padding-top: 70px;
	max-width: 80%;
	display: block;
   margin-left: auto;
   margin-right: auto;
}

.separator {
	text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}