<!DOCTYPE html>

<html>
	<head>
		<title>
			My Creepy Wee Blog
		</title>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">		
	</head>
	
	<body>
	<div id="navigation">
		{% if user is none %}
			<a href="/signin">Sign in </a>
			<a href="/signup"> Sign up</a>
		{% else %}
			<a href="/logout">Log out</a>
		{% endif %}
	</div>
	<img id="banner" src="/images/Banner.gif" alt="Banner is missing">
	<div id="content">
		{% for entry in entries %}
		<div class="entry">
			<br>
			<div class="entry-title">
				<a href="/{{entry.key().id()}}">{{entry.subject}}</a>
			</div>
			<div class="entry-date">Posted: {{entry.timestamp.strftime('%d %b %Y at %H:%M')}}</div>
			<br>
			<div class="entry-body">{{entry.content|bbCodeFilter|nl2br|safe}}</div>
		</div>
		{% endfor %}
	<br/>
	<p>Queried {{age}} seconds ago</p>
	</div>
	</body>

</html>
