<!DOCTYPE html>

<html>
	<head>
		<title>
			New Blog Entry
		</title>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>

<script type="text/javascript">
tinyMCE.init({
        theme : "advanced",
        mode : "textareas",
        plugins : "bbcode",
        theme_advanced_buttons1 : "bold,italic,underline,undo,redo,link,unlink,image,forecolor,styleselect,removeformat,cleanup,code",
        theme_advanced_buttons2 : "",
        theme_advanced_buttons3 : "",
        theme_advanced_toolbar_location : "bottom",
        theme_advanced_toolbar_align : "center",
        theme_advanced_styles : "Code=codeStyle;Quote=quoteStyle",
        content_css : "stylesheets/bbcode.css",
        entity_encoding : "raw",
        add_unload_trigger : false,
        remove_linebreaks : false
});

</script>
		
	</head>
	
	<body>
	<div id="navigation">
		<a href="/">Home </a>
		<a href="/logout">Log out</a>
    </div>
	<img id="banner" src="/images/Banner.gif" alt="Banner is missing">
	<div id="content">
		<form method="post">
		
			<label>
				<div>Title</div>
				<input type="text" name="subject" value="{{subject}}">
			</label>
			
			<label>
				<div>Entry Body</div>
			<textarea id="textarea" cols="40" rows="5" name="content" wrap="physical">{{content}}</textarea>			
			</label>

			<div class="error">{{error}}</div>
			<br>
			<input type="submit" value="Submit">
			
		</form>
	</div>
	</body>

</html>
