<!DOCTYPE html>

<html>
	<head>
		<title>
			Sign In
		</title>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
	<div id="navigation">
		<a href="/">Home </a>
		<a href="/signup">Sign Up </a>
	</div>
	<img id="banner" src="/images/Banner.gif" alt="Banner is missing">
	<div id="content">
		<form method="post">
		
			<label>
				<div>Username</div>
				<input type="text" name="username" value="{{username}}">
				<div>{{username_error}}</div>
			</label>
			
			<label>
				<div>Password</div>
				<input type="password" name="password" value="{{password}}">
				<div>{{password_error}}</div>
			</label>
<br/>
			
			
			<input type="submit" value="Sign in">
			
		</form>
	</div>
	</body>

</html>
