<!DOCTYPE html>

<html>
	<head>
		<title>
			Sign Up
		</title>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
	<div id="navigation">
		<a href="/">Home </a>
		<a href="/signin">Sign In </a>
	</div>	
	<img id="banner" src="/images/Banner.gif" alt="Banner is missing">
	<div id="content">
		<form method="post">
		
			<label>
				<div>Username</div>
				<input type="text" name="username" value="{{username}}">
				<div>{{username_error}}</div>
				<div>{{duplicate_username_error}}</div>
			</label>
			
			<label>
				<div>Password</div>
				<input type="password" name="password" value="{{password}}">
				<div>{{password_error}}</div>
			</label>

			<label>
				<div>Verify password</div>
				<input type="password" name="verify" value="{{verify}}">
				<div>{{verify_error}}</div>
			</label>

			<label>
				<div>Email (optional)</div>
				<input type="text" name="email" value="{{email}}">
				<div>{{email_error}}</div>
			</label>
			
			<div>{{error}}</div>
			<br/>

			<input type="submit" value="Sign up">
			
		</form>
	</div>
	</body>

</html>
