<!DOCTYPE html>

<html>
	<head>
		<title>
			{{e.subject}} - My Creepy Wee Blog
		</title>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
	<div id="navigation">
		<a href="./">Home </a>
		{% if edit is not none %}
			<a href="/edit/{{edit}}">Edit </a>
		{% endif %}
		{% if user is none %}
			<a href="/signin">Sign in </a>
			<a href="/signup"> Sign up</a>
		{% else %}
			<a href="/logout">Log out</a>
		{% endif %}
	</div>	
	<img id="banner" src="/images/Banner.gif" alt="Banner is missing">
	<div id="content">
		<div class="entry">
			<div class="entry-title">{{e.subject}}</div>
			<div class="entry-date">{{e.timestamp.strftime('%d %b %Y at %H:%M')}}</div>
			<br>
			<div class="entry-body">{{e.content|bbCodeFilter|nl2br|safe}}</div>
		</div>
	<br/>
	<p>Queried {{age}} seconds ago</p>
	</div>
	</body>

</html>
