<!DOCTYPE html>

<html>
	<head>
		<title>
			Welcome to My Creepy Wee Blog
		</title>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
	<div id="navigation">
		<a href="/">Home </a>
		<a href="/logout">Log out</a>
	</div>
	<img id="banner" src="/images/Banner.gif" alt="Banner is missing">
	<div id="content">
			<div>Welcome, {{username}}</div>
	</div>
	</body>

</html>
